.titulo {
  color: #43c;
}

/* no local de composes use a vírgula .titulo, .preco {} */
.preco {
  composes: titulo;
  font-weight: bold;
}

/* no local de variáveis utilize variáveis de CSS com o var() */
@value width: 900px;

/* crie um css global utilizando o IMPORT puro para quando precisar de estilos globais */
:global .container {
  max-width: width;
}
